[submodule "themes/stellar"]
	path = themes/stellar
	url = https://github.com/springwq/hexo-theme-stellar.git
[submodule "themes/icarus"]
	path = themes/icarus
	url = https://github.com/ppoffice/hexo-theme-icarus.git
